force-app/main/default/flows/Add_Asset_to_Maintenance_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Maintenance_Plan_Exists</name>
        <label>Check if Maintenance Plan Exists</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Check_if_Asset_Does_Not_Already_Related_to_Maintenance_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Maintenance Plan</defaultConnectorLabel>
        <rules>
            <name>Maintenance_Plan_invalid_or_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Plan_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>The Maintenance Plan does not exist or is invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Type</name>
        <label>Check Parent Type</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_is_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Record_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Parent is Work Order</label>
        </rules>
        <rules>
            <name>Parent_is_Work_Order_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Record_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order_Line_item</targetReference>
            </connector>
            <label>Parent is Work Order Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Asset_is_Valid</name>
        <label>Verify Asset is Valid</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Asset Invalid</defaultConnectorLabel>
        <rules>
            <name>Asset_is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MaintenanceAssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_to_Maintenance_Plan</targetReference>
            </connector>
            <label>Asset is Valid</label>
        </rules>
    </decisions>
    <description>The account maintenance plan is updated with the installed asset after a service appointment has been completed. This flow template is part of the Field Service Starter Kit Package and it is triggered by a Field Service Starter Kit process.</description>
    <formulas>
        <name>Calculate_First_Maintenance_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+IF({!$Setup.FSK_FSL_Starter_Kit__c.Days_Until_First_Maintenance__c}&gt;0, {!$Setup.FSK_FSL_Starter_Kit__c.Days_Until_First_Maintenance__c}, 1)</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Add Asset to Maintenance Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSSK Add Asset to Maintenance Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Add Asset to Maintenance Plan</description>
        <name>Add_Asset_to_Maintenance_Plan</name>
        <label>Create a Maintenance Asset record</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Asset_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanId</field>
            <value>
                <elementReference>Maintenance_Plan_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>Calculate_First_Maintenance_Date</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Check if Asset Does Not Already Related to Maintenance Plan</description>
        <name>Check_if_Asset_Does_Not_Already_Related_to_Maintenance_Plan</name>
        <label>Get Asset if already related to the Maintenance Plan</label>
        <locationX>512</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Asset_is_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MaintenancePlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Maintenance_Plan_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Id</elementReference>
            </value>
        </filters>
        <object>MaintenanceAsset</object>
        <outputAssignments>
            <assignToReference>MaintenanceAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Valid_Maintenance_Plan</name>
        <label>Find Valid Maintenance Plan</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Maintenance_Plan_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <object>MaintenancePlan</object>
        <outputAssignments>
            <assignToReference>Maintenance_Plan_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Valid_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Record_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>Account_Id</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Asset_Id</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Account</name>
        <label>Get Work Order Account</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Valid_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI_Parent_WO_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>Account_Id</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_item</name>
        <label>Get Work Order Line item</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Record_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>Asset_Id</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOLI_Parent_WO_Id</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Parent_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Asset_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Maintenance_Plan_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaintenanceAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parent_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI_Parent_WO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
