force-app/main/default/flows/Cancel_All_Related_Service_Appointment_on_Work_Order_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Record_Variable_to_Collection_to_Update</name>
        <label>Add Record Variable to Collection to Update</label>
        <locationX>1432</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_Collection_to_Commit_to_DB</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_SA_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_All_Service_Appointment_Status_to_be_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SA_to_Delete_Collection</name>
        <label>Add to SA to Delete Collection</label>
        <locationX>1344</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_to_Cancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VA_Service_appointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_All_Service_Appointment_Status_to_be_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SA_to_Delete_Collection_0</name>
        <label>Add to SA to Delete Collection</label>
        <locationX>1916</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_to_Cancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VA_Service_appointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_WOLI_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Canceled</name>
        <label>Set Status to Canceled</label>
        <locationX>1432</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>Temp_SA_Variable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_SA_Variable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_All_Service_Appointment_Status_to_be_Cancelled.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_Variable_to_Collection_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Feature_is_Active</name>
        <label>Check if Feature is Active</label>
        <locationX>882</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_Structure_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_Feature_is_Deactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feature_Is_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>The Feature is Deactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Structure_Type</name>
        <label>Check Structure Type</label>
        <locationX>1344</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Under_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Structure_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_Child_Service_Appointment</targetReference>
            </connector>
            <label>SA Under WO</label>
        </rules>
        <rules>
            <name>SA_Under_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Structure_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WOLI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI_Id</targetReference>
            </connector>
            <label>SA Under WOLI</label>
        </rules>
        <rules>
            <name>SA_Under_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Structure_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI_Id</targetReference>
            </connector>
            <label>SA Under Both</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the SA array is null</description>
        <name>IS_NULL</name>
        <label>IS NULL?</label>
        <locationX>1828</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Add_to_SA_to_Delete_Collection_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VA_Service_appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_WOLI_ID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the SA array is null</description>
        <name>IS_NULL_0</name>
        <label>IS NULL?</label>
        <locationX>1388</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_All_WOLI_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Support_Both_WOLI_and_WO_as_Parent</name>
        <label>Should Support Both WOLI and WO as Parent</label>
        <locationX>1652</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Should_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Structure_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_Child_Service_Appointment</targetReference>
            </connector>
            <label>Should Support</label>
        </rules>
    </decisions>
    <description>Sets the status of all child service appointments to Canceled if the parent Work Order status is set to Canceled. The flow looks for service appointments under the Work Order or also under its children Work Order Line Items. This flow template is part of the Field Service Starter Kit Package.</description>
    <interviewLabel>Cancel All Related Service Appointment on Work Order Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSSK Cancel Service Appointments when Work Order is canceled</label>
    <loops>
        <name>Change_All_Service_Appointment_Status_to_be_Cancelled</name>
        <label>Change All Service Appointment Status to be Cancelled</label>
        <locationX>1344</locationX>
        <locationY>2423</locationY>
        <collectionReference>Service_Appointment_to_Cancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Canceled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Push_Changes_to_DB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Run the array of all WOLI Id</description>
        <name>Loop_All_WOLI_ID</name>
        <label>Loop All WOLI ID</label>
        <locationX>1652</locationX>
        <locationY>983</locationY>
        <collectionReference>VAR_Get_WOLI_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Should_Support_Both_WOLI_and_WO_as_Parent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Package_Custom_Setting_Data</name>
        <label>Get Package Custom Setting Data</label>
        <locationX>882</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Feature_is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancel_Child_SA_on_WO_Cancelation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FSK_FSL_Starter_Kit__c</object>
        <outputAssignments>
            <assignToReference>Feature_Is_Active</assignToReference>
            <field>Cancel_Child_SA_on_WO_Cancelation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SA_Structure_Type</assignToReference>
            <field>Service_Appointment_Parent_Structure__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get_ SA</label>
        <locationX>1828</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_WOLI_ID.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>VA_Service_appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Child_Service_Appointment</name>
        <label>Get WO Child Service Appointment</label>
        <locationX>1344</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_SA_to_Delete_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>VA_Service_appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Id</name>
        <label>Get WOLI Id</label>
        <locationX>1690</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_NULL_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>VAR_Get_WOLI_ID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Push_Changes_to_DB</name>
        <label>Push Changes to DB</label>
        <locationX>1344</locationX>
        <locationY>2879</locationY>
        <inputReference>Service_Appointment_Collection_to_Commit_to_DB</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Package_Custom_Setting_Data</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Feature_Is_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parent_Record_SA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SA_Structure_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Collection_to_Commit_to_DB</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Service_Appointment_to_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Temp_SA_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VA_Service_appointment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Array of WOLI ID</description>
        <name>VAR_Get_WOLI_ID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
