force-app/main/default/flows/Convert_Scheduled_Times_To_Territory_Time_Zone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_if_Converted_Dates</name>
        <label>Check if Converted Dates</label>
        <locationX>286</locationX>
        <locationY>1472</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Same_Day_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DATE_Converted_Scheduled_Start_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DATE_Converted_Scheduled_End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Same_Day_Value</targetReference>
            </connector>
            <label>Same Dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Territory_Assigned</name>
        <label>Check if Territory Assigned</label>
        <locationX>265</locationX>
        <locationY>913</locationY>
        <defaultConnector>
            <targetReference>Get_Operating_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Territory_Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Service Territory Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_feature_is_Active</name>
        <label>Check if the feature is Active</label>
        <locationX>263</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feature_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Package_Properties.Show_Scheduled_Times_in_Different_TZ__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory</targetReference>
            </connector>
            <label>Feature is Active</label>
        </rules>
    </decisions>
    <formulas>
        <name>Converted_Times_Not_Same_Day</name>
        <dataType>String</dataType>
        <expression>{!TEXT_Converted_Start_Time}&amp;&quot; at &quot;&amp;{!TEXT_Converted_Scheduled_Start_Date}&amp;&quot; - &quot;
&amp;{!TEXT_Converted_End_Time}&amp;&quot; at &quot;&amp;{!TEXT_Converted_Scheduled_End_Date}&amp;&quot; (&quot;&amp;TEXT({!Get_Operating_Hours.TimeZone})&amp;&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>Converted_Times_Same_Day</name>
        <dataType>String</dataType>
        <expression>{!TEXT_Converted_Start_Time}&amp;&quot; - &quot;&amp;{!TEXT_Converted_End_Time}&amp;&quot; ,&quot;&amp;{!TEXT_Converted_Scheduled_Start_Date}&amp;&quot; (&quot;&amp;TEXT({!Get_Operating_Hours.TimeZone})&amp;&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Convert Scheduled Times To Territory Time Zone {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Convert Scheduled Times To Territory Time Zone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Operating_Hours</name>
        <label>Get Operating Hours</label>
        <locationX>194</locationX>
        <locationY>1089</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Scheduled_Start_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Territory.OperatingHoursId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Package_Properties</name>
        <label>Get Package Properties</label>
        <locationX>263</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_feature_is_Active</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSK_FSL_Starter_Kit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>272</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Territory_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Not_Same_Day_Value</name>
        <label>Set Not Same Day Value</label>
        <locationX>551</locationX>
        <locationY>1530</locationY>
        <inputAssignments>
            <field>Scheduled_Time_TZ__c</field>
            <value>
                <elementReference>Converted_Times_Not_Same_Day</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Same_Day_Value</name>
        <label>Set Same Day Value</label>
        <locationX>82</locationX>
        <locationY>1541</locationY>
        <inputAssignments>
            <field>Scheduled_Time_TZ__c</field>
            <value>
                <elementReference>Converted_Times_Same_Day</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>114</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Package_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Convert_Scheduled_End_Time</name>
        <label>Convert Scheduled End Time</label>
        <locationX>50</locationX>
        <locationY>1377</locationY>
        <connector>
            <targetReference>Check_if_Converted_Dates</targetReference>
        </connector>
        <flowName>Convert_Date_Time_Flow</flowName>
        <inputAssignments>
            <name>Date_Time_to_Convert</name>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TimeZone</name>
            <value>
                <elementReference>Get_Operating_Hours.TimeZone</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DATE_Converted_Scheduled_End_Date</assignToReference>
            <name>DATE_Converted_Date</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TEXT_Converted_Scheduled_End_Date</assignToReference>
            <name>TEXT_Converted_Date</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TEXT_Converted_End_Time</assignToReference>
            <name>TEXT_Converted_Time</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Convert_Scheduled_Start_Time</name>
        <label>Convert Scheduled Start Time</label>
        <locationX>393</locationX>
        <locationY>1257</locationY>
        <connector>
            <targetReference>Convert_Scheduled_End_Time</targetReference>
        </connector>
        <flowName>Convert_Date_Time_Flow</flowName>
        <outputAssignments>
            <assignToReference>DATE_Converted_Scheduled_Start_Date</assignToReference>
            <name>DATE_Converted_Date</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TEXT_Converted_Scheduled_Start_Date</assignToReference>
            <name>TEXT_Converted_Date</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TEXT_Converted_Start_Time</assignToReference>
            <name>TEXT_Converted_Time</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>DATE_Converted_Scheduled_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DATE_Converted_Scheduled_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEXT_Converted_End_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEXT_Converted_Scheduled_End_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEXT_Converted_Scheduled_Start_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEXT_Converted_Start_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
