force-app/main/default/flows/Field_Service_Mobile_Status_Transition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Current_Mobile_Time_stamp_For_End</name>
        <label>Set Current Mobile Time stamp For End</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.FSK_Mobile_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Mobile_Time_stamp_For_Start</name>
        <label>Set Current Mobile Time stamp For Start</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.FSK_Mobile_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Cannot_Complete</name>
        <label>Set Status Cannot Complete</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Status_Triggers_Time_Capturing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Complete</name>
        <label>Set Status Complete</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Status_Triggers_Time_Capturing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_In_Progress</name>
        <label>Set Status In Progress</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Status_Triggers_Time_Capturing</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chComplete</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stComplet</elementReference>
        </value>
    </choices>
    <choices>
        <name>chEnRoute</name>
        <choiceText>{!stEnRoute}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </choices>
    <choices>
        <name>chIncomplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stIncomplete</elementReference>
        </value>
    </choices>
    <choices>
        <name>chInProg</name>
        <choiceText>{!stInProg}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>chOnSite</name>
        <choiceText>On Site</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stOnSite</elementReference>
        </value>
    </choices>
    <constants>
        <name>stComplet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>stEnRoute</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </constants>
    <constants>
        <name>stIncomplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete Job</stringValue>
        </value>
    </constants>
    <constants>
        <name>stInProg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </constants>
    <constants>
        <name>stOnSite</name>
        <dataType>String</dataType>
        <value>
            <stringValue>On</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Feature_is_Active</name>
        <label>Check Feature is Active</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Feature_Inactive_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferences.Mobile_Status_Satiation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Preferences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_Status_Triggers_Time_Capturing</name>
        <label>Check is Status Triggers Time Capturing</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Status Update</defaultConnectorLabel>
        <rules>
            <name>Capture_Start_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferences.StartingStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Service_Appointment.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Mobile_Time_stamp_For_Start</targetReference>
            </connector>
            <label>Capture Start Time</label>
        </rules>
        <rules>
            <name>Capture_End_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferences.EndingStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Service_Appointment.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Mobile_Time_stamp_For_End</targetReference>
            </connector>
            <label>Capture End Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completion_Decision</name>
        <label>Completion Decision</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCompletionPL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Complete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCompletionPL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chIncomplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Cannot_Complete</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Based_Decision</name>
        <label>Status Based Decision</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Default_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stsDispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Dispatched</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Completion</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <description>This Field Service Mobile flow allow FS mobile users tp update the status of their service appointments while adhering to the permitted status flow. Time is captured based on a status definition and feeds that time to the Field Service Starter Kit Status Based Flows. This flow must be enabled if you want to use the Automatic Updates to the Actual Start/End Fields or Scheduled Start/End Fields and you need offline support. This means if you don&apos;t enable it, and the mobile user is offline, instead of recording the time of the action, it will record the time the sync took place.
The feature uses two fields from the Starter Kit Package to store the time when the job began and the time when the technician completed the job. These fields are the Mobile Start Time and Mobile End Time.</description>
    <interviewLabel>Field Service Mobile Status Transition {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Field Service Mobile Status Transition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Preferences</name>
        <label>Get Preferences</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Feature_is_Active</targetReference>
        </connector>
        <object>FSK_FSL_Starter_Kit__c</object>
        <outputReference>Preferences</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartingStatus__c</queriedFields>
        <queriedFields>EndingStatus__c</queriedFields>
        <queriedFields>Mobile_Status_Satiation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Based_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>Service_Appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>FSK_Mobile_Start_Time__c</queriedFields>
        <queriedFields>FSK_Mobile_End_Time__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Values</name>
        <label>Update Values</label>
        <locationX>578</locationX>
        <locationY>1526</locationY>
        <inputReference>Service_Appointment</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Default_Debug</name>
        <label>Default Debug</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dsp2</name>
            <fieldText>&lt;p&gt;This action does not support this appointment status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feature_Inactive_Screen</name>
        <label>Feature Inactive Screen</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dsp2_0</name>
            <fieldText>&lt;p&gt;This feature is not active.&lt;/p&gt;&lt;p&gt;Contact your System Administrator for more information about this Field Service Starter Kit feature.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Completion</name>
        <label>Set Status from In Progress</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completion_Decision</targetReference>
        </connector>
        <fields>
            <name>JobCompletionPL</name>
            <choiceReferences>chComplete</choiceReferences>
            <choiceReferences>chIncomplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the next Status Transition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Dispatched</name>
        <label>Set Status from Dispatched</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_In_Progress</targetReference>
        </connector>
        <fields>
            <name>Transition_to_next_status_DSP</name>
            <choiceReferences>chInProg</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the next Status Transition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Preferences</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_Status_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Preferences</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSK_FSL_Starter_Kit__c</objectType>
    </variables>
    <variables>
        <name>Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
