force-app/main/default/flows/FSK_Exclude_Resource_On_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Resources_to_Exclude</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Resource_Preference_Loop_Helper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_to_Exclude_Assigned_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Record</name>
        <label>Set Collection Record</label>
        <locationX>270</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Resource_Preference_Loop_Helper.PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Preference_Loop_Helper.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Preference_Loop_Helper.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prepare_to_Exclude_Assigned_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_to_WO_Id</name>
        <label>Set Parent to WO Id</label>
        <locationX>138</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Work_Order_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Appointment_Parent_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organization_uses_Crews</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validate that no Crew or Crew Member has any preference on this work order</description>
        <name>Check_related_preference</name>
        <label>Check related preference</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Service_Appointment_Handler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There are related resources preferences</defaultConnectorLabel>
        <rules>
            <name>No_relevant_Related_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resources_Preferences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_Assigned_Service_Resources</targetReference>
            </connector>
            <label>No relevant Related Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Appointment_Parent_Record_Type</name>
        <label>Check Service Appointment Parent Record Type</label>
        <locationX>402</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_is_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment_Parent_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_to_WO_Id</targetReference>
            </connector>
            <label>Parent is Work Order</label>
        </rules>
        <rules>
            <name>Parent_is_Work_Order_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment_Parent_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI_Parent_Work_Order</targetReference>
            </connector>
            <label>Parent is Work Order Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organization_uses_Crews</name>
        <label>Organization uses Crews</label>
        <locationX>402</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Assigned Resource</defaultConnectorLabel>
        <rules>
            <name>Crew_is_Enable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Crews_Enable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Resources</targetReference>
            </connector>
            <label>Crew is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_Are_Valid</name>
        <label>Values Are Valid</label>
        <locationX>622</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Service_Appointment_Handler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Order_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_Service_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceResourcePreference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_Assigned_Resource</targetReference>
            </connector>
            <label>Valid Values</label>
        </rules>
    </decisions>
    <description>The flow creates a resource preference record of type Excluded for the assigned resource in the event of a service appointment rejection. The flow unschedules the Service Appointment and deletes the assigned resource record by setting the Service Appointment Status to None. This flow template is part of the Field Service Starter Kit Package and is triggered by a Field Service Starter Kit process.</description>
    <interviewLabel>Exclude Resource On Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSSK Exclude Resource On Rejection</label>
    <loops>
        <name>Prepare_to_Exclude_Assigned_Resources</name>
        <label>Prepare to Exclude Assigned Resources</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <collectionReference>Assigned_Service_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Collection_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Resources_Preferances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Exclude_Assigned_Resource</name>
        <label>Exclude Assigned Resource</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Remove_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Work_Order_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Assigned_Service_Resource.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Exclude_Assigned_Service_Resources</name>
        <label>Exclude Assigned Service Resources</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Service_Appointment_Handler</targetReference>
        </connector>
        <inputReference>Resources_to_Exclude</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Assigned_Resource</name>
        <label>Remove Assigned Resource</label>
        <locationX>490</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Service_Appointment_Handler</targetReference>
        </connector>
        <inputReference>Assigned_Service_Resource</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>622</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Resource_Preferences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>Assigned_Service_Resource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Resources</name>
        <label>Get Assigned Resources</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_to_Exclude_Assigned_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>Assigned_Service_Resources</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceCrewId</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Resource_Preferences</name>
        <label>Get Related Resource Preferences</label>
        <locationX>622</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Values_Are_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assigned_Service_Resource.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <outputReference>ServiceResourcePreference</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>PreferenceType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Resources_Preferances</name>
        <label>Get Related Resources Preferances</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_related_preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_Id</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <outputReference>Resources_Preferences</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PreferenceType</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Parent_Work_Order</name>
        <label>Get WOLI Parent Work Order</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_uses_Crews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Parent_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>Work_Order_Id</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Service_Appointment_Handler</name>
        <label>Service Appointment Handler</label>
        <locationX>402</locationX>
        <locationY>1742</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSK_Reject_Service_Appointment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Service_Appointment_Parent_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assigned_Service_Resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>Assigned_Service_Resources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>Resource_Preference_Loop_Helper</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>Resources_Preferences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>Resources_to_Exclude</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>Service_Appointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Parent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Crews_Enable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ServiceResourcePreference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
