force-app/main/default/flows/FSK_Resource_Deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Feature_is_Active</name>
        <label>Check Feature is Active</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SettingsResDeAct.Remove_Licenses_on_Deactivation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SettingsResDeAct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Assignments</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Licenses_Assignment_Exists</name>
        <label>Check if Licenses Assignment Exists</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Licenses_Assigned_to_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_License_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Licenses_Assignment</targetReference>
            </connector>
            <label>Licenses Assigned to Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IF_Records_exists</name>
        <label>Check If Records exist</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_Set_Assignments</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <description>In the event that an admin deactivates a Service Resource, the flow removes all the Field Service permission set licenses and permission sets from the related user record.
This Record-Triggered Flow template is part of the Field Service Starter Kit Package.</description>
    <interviewLabel>FSK Resource Deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Resource Deactivation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Licenses_Assignment</name>
        <label>Delete License Assignments</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_Permission_Set_License_Assignments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Permission_Set_Assignments</name>
        <label>Delete Permission Set Assignments</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Get_Permission_Set_License_Assignments</targetReference>
        </connector>
        <inputReference>Get_Permission_Set_Assignments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_FSSK_Custom_Setting_record</name>
        <label>Get FSSK Custom Setting record</label>
        <locationX>611</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Feature_is_Active</targetReference>
        </connector>
        <object>FSK_FSL_Starter_Kit__c</object>
        <outputReference>SettingsResDeAct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Remove_Licenses_on_Deactivation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_IF_Records_exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5) OR (1 AND 6) OR (1 AND 7)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Mobile_License_Permission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Dispatcher_License_Permission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Dispatcher_Permissions_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Resource_License_Permission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Resource_Permissions_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Community_Dispatcher_Permission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_License_Assignments</name>
        <label>Get Permission Set License Assignments</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Licenses_Assignment_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Scheduling_PSL_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Dispatcher_PSL_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Mobile_PSL_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Community_Dispatcher_License__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FSSK_Custom_Setting_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Related_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SettingsResDeAct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSK_FSL_Starter_Kit__c</objectType>
    </variables>
</Flow>
