force-app/main/default/flows/FSK_Cancelation_Canned_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Resource_about_Appointment_Cancelation</name>
        <label>Notify Resource about SA Cancellation</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Type_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Cancelation_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Cancelation_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_user_Id_to_Collection</name>
        <label>Assignment of Notifications Variables</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recipient_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelation_Notification_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotificationTitleMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelation_Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotificationBodyMergedFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Resource_about_Appointment_Cancelation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Service_Appointment_Return_Values</name>
        <label>Check Service Appointment Return Values</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Invalid Service Appointment Returned</defaultConnectorLabel>
        <rules>
            <name>Valid_Service_Appointment_Returened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Id</targetReference>
            </connector>
            <label>Valid Service Appointment Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Feature_Active</name>
        <label>Is Feature Active</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Feature Inactive</defaultConnectorLabel>
        <rules>
            <name>Feature_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeatureIsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Service_Appointment</targetReference>
            </connector>
            <label>Feature is active</label>
        </rules>
    </decisions>
    <description>When a Service Appointment status changes to a value that maps to the canceled Status Category, a custom notification is sent. This flow template is part of the Field Service Starter Kit Package and is triggered by a Field Service Starter Kit process.</description>
    <formulas>
        <name>NotificationBodyMergedFields</name>
        <dataType>String</dataType>
        <expression>{!Get_Related_Service_Appointment.AppointmentNumber} &amp; &apos; has been cancelled and removed from your schedule&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitleMergedFields</name>
        <dataType>String</dataType>
        <expression>&apos;Cancellation Alert&apos;</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Cancelation_Canned_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSSK Cancellation Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_if_Feature_is_Active</name>
        <label>Check if the feature is active</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Feature_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mobile_Canned_Custom_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancelation_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FSK_FSL_Starter_Kit__c</object>
        <outputAssignments>
            <assignToReference>FeatureIsActive</assignToReference>
            <field>Mobile_Canned_Custom_Notification__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Starter_Kit_Notification_Settings</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>Custom_Notification_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_Id</name>
        <label>Get Recipient Id</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_user_Id_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>Recipient_Id</assignToReference>
            <field>RelatedRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Appointment_Return_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Feature_is_Active</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Assigned_Resource_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Limited to 750 characters</description>
        <name>Cancelation_Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Limited to 250 characters</description>
        <name>Cancelation_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cancelation Title</stringValue>
        </value>
    </variables>
    <variables>
        <name>Custom_Notification_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeatureIsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Time_Zone_Offset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
