force-app/main/default/flows/FSK_Set_Gantt_Label_Concatenation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Account_as_Label</name>
        <label>Set Account as Label</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GanttLabelValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Gantt_Label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Both_Fields_in_the_label</name>
        <label>Set Both Fields in the label</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GanttLabelValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concatenation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Gantt_Label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Type_as_Label</name>
        <label>Set Work Type as Label</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GanttLabelValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Gantt_Label</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Related_Records</name>
        <label>Check Related Records</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Both_Fields_in_the_label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Without_Work_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_as_Label</targetReference>
            </connector>
            <label>Account Without Work Type</label>
        </rules>
        <rules>
            <name>Work_Type_Without_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_as_Label</targetReference>
            </connector>
            <label>Work Type Without Account</label>
        </rules>
        <rules>
            <name>Both_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Blank</label>
        </rules>
    </decisions>
    <description>This flow is part of FSL Starter Kit managed package and use to concatenate fields on the &apos;Gantt Label&apos; field. In order to change the field that the process uses and/or the concatenation structure, clone the flow and edit the variable (resource) &apos;Concatenation&apos;.</description>
    <formulas>
        <name>Concatenation</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!AccountName}+&quot; - &quot;+{!WorkTypeName}) &gt;255,LEFT({!AccountName}+&quot; - &quot;+{!WorkTypeName}, 255),
{!AccountName}+&quot; - &quot;+{!WorkTypeName})</expression>
    </formulas>
    <interviewLabel>Set Gantt Label Concatenation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Set Gantt Label Concatenation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>WorkTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Name</name>
        <label>Get Work Type Name</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Gantt_Label</name>
        <label>Set Gantt Label</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <elementReference>GanttLabelValueToSet</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GanttLabelValueToSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
