force-app/main/default/flows/FSK_Reflect_Actual_Times_on_Gantt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Planned_Dates_Populated</name>
        <label>Check if Planned Dates Populated</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Planned_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Planned_Start</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Planned_End</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Actual_Start_on_Scheduled_Start</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify if the action updates start time or end time</description>
        <name>Start_Or_End</name>
        <label>Start Or End</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Actual_End_on_Scheduled_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Start_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Planned_Dates_Populated</targetReference>
            </connector>
            <label>Is Start Time</label>
        </rules>
    </decisions>
    <description>Automatically update Scheduled Start and Scheduled End fields on the Gantt chart to reflect the start and end time of a service appointment as reported by a field employee. The original schedule values are copied into the fields &apos;Planned Scheduled Start&apos; and &apos;Planned Scheduled End&apos; introduced in the Starter Kit package. This flow template is part of the Field Service Starter Kit Package and it is triggered by a Field Service Starter Kit process.</description>
    <formulas>
        <name>EndToUpset</name>
        <dataType>DateTime</dataType>
        <expression>If({!MobileTimes}, {!Mobile_End_Time}, {!NOW})</expression>
    </formulas>
    <formulas>
        <name>NewScheduledEndOnStartEvent</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!RecordDurationInMinutes}), {!RecordSchedEndTime}, (NOW()+({!RecordDurationInMinutes}/1440)))</expression>
    </formulas>
    <formulas>
        <description>This formula returns the current time as date/time</description>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>StartToUpset</name>
        <dataType>DateTime</dataType>
        <expression>IF({!MobileTimes}, {!Mobile_Start_Time}, {!NOW})</expression>
    </formulas>
    <interviewLabel>Reflect Actual Times on Gantt {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSSK Update Scheduled Time Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Or_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>RecordDurationInMinutes</assignToReference>
            <field>DurationInMinutes</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mobile_End_Time</assignToReference>
            <field>FSK_Mobile_End_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mobile_Start_Time</assignToReference>
            <field>FSK_Mobile_Start_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Planned_End</assignToReference>
            <field>FSK_Planned_Scheduled_End__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Planned_Start</assignToReference>
            <field>FSK_Planned_Scheduled_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordSchedEndTime</assignToReference>
            <field>SchedEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordSchedStartTime</assignToReference>
            <field>SchedStartTime</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Set the value of the Actual Start on the Scheduled Start in order to reflect it on the Gantt</description>
        <name>Set_Actual_End_on_Scheduled_End</name>
        <label>Set Actual End on Scheduled End</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>EndToUpset</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the value of the Actual Start on the Scheduled Start in order to reflect it on the Gantt</description>
        <name>Set_Actual_Start_on_Scheduled_Start</name>
        <label>Set Actual Start on Scheduled Start</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>NewScheduledEndOnStartEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>StartToUpset</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Setting the planned dates field to avoid data loss</description>
        <name>Set_Planned_Date</name>
        <label>Set Planned Date</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Set_Actual_Start_on_Scheduled_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSK_Planned_Scheduled_End__c</field>
            <value>
                <elementReference>RecordSchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSK_Planned_Scheduled_Start__c</field>
            <value>
                <elementReference>RecordSchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A flag that mark start time process</description>
        <name>IsStart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_End_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_Start_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobileTimes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Planned_End</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Planned_Start</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordDurationInMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>This variable stores the Service Appointment Id as text</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Service Appointment Scheduled End Time</description>
        <name>RecordSchedEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Service Appointment Scheduled Start Time</description>
        <name>RecordSchedStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
