force-app/main/default/flows/FSK_Actual_Times_Capturing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Decide if to Set Actual Start Or End</description>
        <name>Set_Actual_Start_OR_Actual_End</name>
        <label>Set Actual Start OR Actual End</label>
        <locationX>585</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Values_Validation_for_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Actual End</defaultConnectorLabel>
        <rules>
            <name>Actual_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Values_Validation_for_Start</targetReference>
            </connector>
            <label>Actual Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_Validation_for_End</name>
        <label>Values Validation for End</label>
        <locationX>726</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Set_Actual_End_With_Fixed_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect Record Values</defaultConnectorLabel>
        <rules>
            <name>Correct_Values</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>RecordActualStart</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Actual_End_To_Set</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordActualStart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordActualStart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_End</targetReference>
            </connector>
            <label>Correct Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_Validation_for_Start</name>
        <label>Values Validation for Start</label>
        <locationX>971</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Set_Actual_Start_With_Fixed_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect Record Values</defaultConnectorLabel>
        <rules>
            <name>Correct_Values0</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>NOW</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>RecordActualEnd</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordActualStart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordActualEnd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Actual_Start</targetReference>
            </connector>
            <label>Correct Values</label>
        </rules>
    </decisions>
    <description>This flow is part of the FSL Starter Kit.
It contains all the processes relates to the Service Appointment Object</description>
    <formulas>
        <name>Actual_End_for_Fixed_Start</name>
        <dataType>DateTime</dataType>
        <expression>{!Actual_Start_To_Set} + ({!Record_Diration_In_Minutes}/1440)</expression>
    </formulas>
    <formulas>
        <name>Actual_End_To_Set</name>
        <dataType>DateTime</dataType>
        <expression>IF({!MobileTimes}, {!Mobile_End_Time}, {!NOW})</expression>
    </formulas>
    <formulas>
        <name>Actual_Start_for_Fixed_End</name>
        <dataType>DateTime</dataType>
        <expression>{!Actual_End_To_Set} - ({!Record_Diration_In_Minutes}/1440)</expression>
    </formulas>
    <formulas>
        <name>Actual_Start_To_Set</name>
        <dataType>DateTime</dataType>
        <expression>IF({!MobileTimes}, {!Mobile_Start_Time}, {!NOW})</expression>
    </formulas>
    <formulas>
        <description>This formula calculates the delta between Actual Start to Actual End in order to set the field Actual Duration (Minutes)</description>
        <name>CalculateDelta</name>
        <dataType>Number</dataType>
        <expression>IF (NOT(ISBLANK({!RecordActualStart})) &amp;&amp; ({!Actual_End_To_Set} &gt; {!RecordActualStart}),
(({!Actual_End_To_Set} - {!RecordActualStart})*1440), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>This formula returns the current time as date/time</description>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>This flow is part of FSL Starter Kit.
This flow sets the actual start and actual end time according to custom setting object &apos;Actual Times Capturing&apos;</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Actual Times Capturing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the service appointment to calculate the diff between end to start</description>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>430</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Actual_Start_OR_Actual_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>RecordActualEnd</assignToReference>
            <field>ActualEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordActualStart</assignToReference>
            <field>ActualStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mobile_End_Time</assignToReference>
            <field>FSK_Mobile_End_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mobile_Start_Time</assignToReference>
            <field>FSK_Mobile_Start_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Diration_In_Minutes</assignToReference>
            <field>FSL__Duration_In_Minutes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Actual_End_With_Fixed_Values</name>
        <label>Set Actual End With Fixed Values</label>
        <locationX>736</locationX>
        <locationY>519</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>Actual_End_To_Set</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>Actual_Start_for_Fixed_End</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Actual_Start_With_Fixed_Values</name>
        <label>Set Actual Start With Fixed Values</label>
        <locationX>1210</locationX>
        <locationY>214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>Actual_Start_for_Fixed_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>Actual_Start_To_Set</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Actual End equal to NON()</description>
        <name>Update_Actual_End</name>
        <label>Update Actual End</label>
        <locationX>960</locationX>
        <locationY>345</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <elementReference>CalculateDelta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>Actual_End_To_Set</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Actual Start equal to NON()</description>
        <name>Update_Actual_Start</name>
        <label>Update Actual Start</label>
        <locationX>1190</locationX>
        <locationY>60</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>Actual_Start_To_Set</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Flag to identify if the update relates to actual start or actual end</description>
        <name>IsStart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_End_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_Start_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobileTimes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Record_Diration_In_Minutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecordActualEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Appointment Actual Start</description>
        <name>RecordActualStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable stores the service appointment ID</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
