force-app/main/default/flows/FSK_Field_Service_Mobile_Status_Transition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Current_Mobile_Time_Stamp_For_End</name>
        <label>Set Current Mobile Time Stamp For End</label>
        <locationX>1165</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.FSK_Mobile_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Mobile_Time_Stamp_For_Start</name>
        <label>Set Current Mobile Time Stamp For Start</label>
        <locationX>653</locationX>
        <locationY>1366</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.FSK_Mobile_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Cannot_Complete</name>
        <label>Set Status Cannot Complete</label>
        <locationX>306</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Status_Triggers_Time_Capturing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Complete</name>
        <label>Set Status Complete</label>
        <locationX>523</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Status_Triggers_Time_Capturing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_In_Progress</name>
        <label>Set Status In Progress</label>
        <locationX>1267</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Status_Triggers_Time_Capturing</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chComplete</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stComplet</elementReference>
        </value>
    </choices>
    <choices>
        <name>chEnRoute</name>
        <choiceText>{!stEnRoute}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </choices>
    <choices>
        <name>chIncomplete</name>
        <choiceText>Cannot Complete Job</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stIncomplete</elementReference>
        </value>
    </choices>
    <choices>
        <name>chInProg</name>
        <choiceText>{!stInProg}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>chOnSite</name>
        <choiceText>On Site</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stOnSite</elementReference>
        </value>
    </choices>
    <constants>
        <name>stComplet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>stEnRoute</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </constants>
    <constants>
        <name>stIncomplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete Job</stringValue>
        </value>
    </constants>
    <constants>
        <name>stInProg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </constants>
    <constants>
        <name>stOnSite</name>
        <dataType>String</dataType>
        <value>
            <stringValue>On</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_is_Status_Triggers_Time_Capturing</name>
        <label>Check is Status Triggers Time Capturing</label>
        <locationX>843</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>Update_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Status Update</defaultConnectorLabel>
        <rules>
            <name>Capture_Start_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Mobile_Time_Stamp_For_Start</targetReference>
            </connector>
            <label>Capture Start Time</label>
        </rules>
        <rules>
            <name>Capture_End_Time</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Mobile_Time_Stamp_For_End</targetReference>
            </connector>
            <label>Capture End Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completion_Decision</name>
        <label>Completion Decision</label>
        <locationX>195</locationX>
        <locationY>840</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCompletionPL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Complete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCompletionPL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chIncomplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incompletion_text</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Based_Decision</name>
        <label>Status Based Decision</label>
        <locationX>664</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Default_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stsDispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Dispatched</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Completion</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <interviewLabel>Field Service Mobile Status Transition {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Field Service Mobile Status Transition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>674</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Based_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>Service_Appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>FSK_Mobile_Start_Time__c</queriedFields>
        <queriedFields>FSK_Mobile_End_Time__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Values</name>
        <label>Update Values</label>
        <locationX>895</locationX>
        <locationY>1482</locationY>
        <inputReference>Service_Appointment</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Default_Debug</name>
        <label>Default Debug</label>
        <locationX>1002</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dsp2</name>
            <fieldText>&lt;p&gt;Status = {!Service_Appointment.Status}&lt;/p&gt;&lt;p&gt;ID = {!Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Status might be different than the predefined status in the flow.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contact your system admin for more details. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incompletion_text</name>
        <label>Incompletion text</label>
        <locationX>213</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Status_Cannot_Complete</targetReference>
        </connector>
        <fields>
            <name>txtIncompleteReason</name>
            <fieldText>Please add the reason for incompletion.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Completion</name>
        <label>Job Completion</label>
        <locationX>383</locationX>
        <locationY>462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completion_Decision</targetReference>
        </connector>
        <fields>
            <name>JobCompletionPL</name>
            <choiceReferences>chComplete</choiceReferences>
            <choiceReferences>chIncomplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please set the completion status of the task</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Dispatched</name>
        <label>Set Status from Dispatched</label>
        <locationX>1023</locationX>
        <locationY>666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_In_Progress</targetReference>
        </connector>
        <fields>
            <name>txtNextStatus</name>
            <fieldText>&lt;p&gt;Select the next status transition.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transition_to_next_status_DSP</name>
            <choiceReferences>chInProg</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transition to next status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_Status_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
