force-app/main/default/flows/FSK_Update_Work_Order_Child_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Account_Name_as_Label</name>
        <label>Set Account Name as Label</label>
        <locationX>562</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>GanttLabelValueToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Related_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_The_Gantt_Label</name>
        <label>Set The Gantt Label</label>
        <locationX>901</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Set_New_Gantt_Label.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GanttLabelValueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_on_the_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_All_Fields</name>
        <label>Set Value All Fields</label>
        <locationX>478</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>GanttLabelValueToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelConcatenation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Related_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Type_as_Label</name>
        <label>Set Work Type as Label</label>
        <locationX>670</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>GanttLabelValueToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Related_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Collection_not_Null</name>
        <label>Check if Collection not Null</label>
        <locationX>697</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Set_New_Gantt_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildServiceAppointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Collection is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Records</name>
        <label>Check Related Records</label>
        <locationX>467</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>Set_Value_All_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Without_Work_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Name_as_Label</targetReference>
            </connector>
            <label>Account Without Work Type</label>
        </rules>
        <rules>
            <name>Work_Type_Without_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_as_Label</targetReference>
            </connector>
            <label>Work Type Without Account</label>
        </rules>
        <rules>
            <name>Both_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Blank</label>
        </rules>
    </decisions>
    <description>This flow is part of the FSL Starter Kit. Used to set catch changes on the Parent Work Order and update all related Service Appointments.</description>
    <formulas>
        <name>LabelConcatenation</name>
        <dataType>String</dataType>
        <expression>IF((LEN({!AccountName} + &apos; - &apos; + {!WorkTypeName})&lt; 255),
({!AccountName} + &apos; - &apos; + {!WorkTypeName}),
LEFT({!AccountName} + &apos; - &apos; + {!WorkTypeName},255))</expression>
    </formulas>
    <interviewLabel>Work Order Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Work Order Child Records</label>
    <loops>
        <name>Set_New_Gantt_Label</name>
        <label>Set New Gantt Label</label>
        <locationX>899</locationX>
        <locationY>71</locationY>
        <collectionReference>ChildServiceAppointment</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_The_Gantt_Label</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>223</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Service_Appointments</name>
        <label>Get All Related Service Appointments</label>
        <locationX>478</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Collection_not_Null</targetReference>
        </connector>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ChildServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__GanttLabel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>220</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedWorkTypeId</assignToReference>
            <field>WorkTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Name</name>
        <label>Get Work Type Name</label>
        <locationX>221</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedWorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Values_on_the_Record</name>
        <label>Set Values on the Record</label>
        <locationX>1376</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Set_New_Gantt_Label</targetReference>
        </connector>
        <inputReference>Set_New_Gantt_Label</inputReference>
    </recordUpdates>
    <start>
        <locationX>94</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>GanttLabelValueToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
