force-app/main/default/flows/FSK_Properties_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_If_Record_Exist</name>
        <label>Check If Record Exist</label>
        <locationX>650</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Main_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Setting_Record_Does_Not_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Settings_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomSettingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Custom_Setting</targetReference>
            </connector>
            <label>Custom Setting Record Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invalid_Status_Selection</name>
        <label>Check Invalid Status Selection</label>
        <locationX>1229</locationX>
        <locationY>41</locationY>
        <defaultConnector>
            <targetReference>Set_Custom_Setting_With_User_Preponderances</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Status_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag_InvalidStatusSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Status_Notification</targetReference>
            </connector>
            <label>Invalid Status Selected</label>
        </rules>
    </decisions>
    <description>This is a deprecated Flow from the Field Service Starter Kit package</description>
    <dynamicChoiceSets>
        <name>Service_Appointment_Statues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>EndingStatusToUpdate</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!UserEndingStatusSelection}) &gt; 1, {!UserEndingStatusSelection}, {!Ending_Status})</expression>
    </formulas>
    <formulas>
        <name>Flag_InvalidStatusSelection</name>
        <dataType>Boolean</dataType>
        <expression>OR(CONTAINS({!UserStartingStatusSelection}, &apos;None&apos;),
CONTAINS({!UserStartingStatusSelection}, &apos;Canceled&apos;),
CONTAINS({!UserEndingStatusSelection}, &apos;None&apos;),
CONTAINS({!UserEndingStatusSelection}, &apos;Canceled&apos;))</expression>
    </formulas>
    <formulas>
        <name>Is_Actualization_Checked</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Is_Actual_Times}, {!Is_Actual_Times_On_Gantt})</expression>
    </formulas>
    <formulas>
        <name>StartingStatusToUpdate</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!UserStartingStatusSelection}) &gt; 1,{!UserStartingStatusSelection}, {!Starting_Status})</expression>
    </formulas>
    <interviewLabel>FSK Properties Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>deprecated FSSK flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Custom_Setting</name>
        <label>Create Custom Setting</label>
        <locationX>659</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>CustomSettingNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualTimes__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Times_on_Gantt__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assign_Resource_On_Service_Appointment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_FSL_Resource_From_User__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&apos;Starter Kit&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Populate_Work_Order_Lookup__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Gantt_Label__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>FSK_FSL_Starter_Kit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Settings_Values</name>
        <label>Get Custom Settings Values</label>
        <locationX>411</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Record_Exist</targetReference>
        </connector>
        <object>FSK_FSL_Starter_Kit__c</object>
        <outputAssignments>
            <assignToReference>Is_Actual_Times</assignToReference>
            <field>ActualTimes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_Actual_Times_On_Gantt</assignToReference>
            <field>Actual_Times_on_Gantt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_Display_Assigned_Resource_On_Service_Appointment</assignToReference>
            <field>Assign_Resource_On_Service_Appointment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_Set_FSL_User_Permissions</assignToReference>
            <field>Create_FSL_Resource_From_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Ending_Status</assignToReference>
            <field>EndingStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomSettingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_Set_Work_Order_Lookup</assignToReference>
            <field>Populate_Work_Order_Lookup__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Is_Set_Gantt_Label</assignToReference>
            <field>Set_Gantt_Label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Starting_Status</assignToReference>
            <field>StartingStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Custom_Setting_With_User_Preponderances</name>
        <label>Set Custom Setting With User Preponderances</label>
        <locationX>1516</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomSettingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualTimes__c</field>
            <value>
                <elementReference>Capture_Actual_Times</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Times_on_Gantt__c</field>
            <value>
                <elementReference>Reflect_Actual_Times_on_the_Gantt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assign_Resource_On_Service_Appointment__c</field>
            <value>
                <elementReference>Display_Assigned_Resource_on_Service_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_FSL_Resource_From_User__c</field>
            <value>
                <elementReference>Automate_FSL_User_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndingStatus__c</field>
            <value>
                <elementReference>EndingStatusToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Populate_Work_Order_Lookup__c</field>
            <value>
                <elementReference>Populate_Custom_Work_Order_Lookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Gantt_Label__c</field>
            <value>
                <elementReference>Auto_Set_Gantt_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartingStatus__c</field>
            <value>
                <elementReference>StartingStatusToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>FSK_FSL_Starter_Kit__c</object>
    </recordUpdates>
    <screens>
        <name>CustomSettingNotification</name>
        <label>CustomSettingNotification</label>
        <locationX>880</locationX>
        <locationY>245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Custom Setting Record Does Not Exist.&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Press Next for custom setting record creation, and refresh the page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Status_Notification</name>
        <label>Invalid Status Notification</label>
        <locationX>1038</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
        <fields>
            <name>WrongStatusNotification</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; Invalid status selected as part of &apos;Starting Statuses&apos; or &apos;Ending Statuses&apos;.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Press &apos;Next&apos; and set you preference again.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Don&apos;t choose &apos;None&apos; or &apos;Canceled&apos;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>877</locationX>
        <locationY>25</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Invalid_Status_Selection</targetReference>
        </connector>
        <fields>
            <name>Main_Screen_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;FSL Starter Kit Properties Selection&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Auto_Set_Gantt_Label</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Set_Gantt_Label</elementReference>
            </defaultValue>
            <fieldText>Automatically Set the Gantt Label Field</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Auto Set Gantt Label value by concatenation of Account and Work Type fields.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Populate_Custom_Work_Order_Lookup</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Set_Work_Order_Lookup</elementReference>
            </defaultValue>
            <fieldText>Populate Custom Work Order Lookup with the Service Appointment Parent ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Populate a custom Work Order lookup field with the parent ID in case that parent is a Work Order.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Assigned_Resource_on_Service_Appointment</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Display_Assigned_Resource_On_Service_Appointment</elementReference>
            </defaultValue>
            <fieldText>Populate Custom Service Resource Lookup on the Service Appointment Record</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Copy the Service Resource ID from the Assigned Resource related list to a new lookup field on the Service Appointment object.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Automate_FSL_User_Creation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Set_FSL_User_Permissions</elementReference>
            </defaultValue>
            <fieldText>Field Service User Automation</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Auto assign relevant permissions to user according to the Field Service role and auto creation of a Service Resource record as needed.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capture_Actual_Times</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Actual_Times</elementReference>
            </defaultValue>
            <fieldText>Automatically Update Actual Start and Actual End Fields</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Populate Actual Times fields (Actual Start, Actual End &amp;amp; Actual Duration) according to status transition.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reflect_Actual_Times_on_the_Gantt</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Is_Actual_Times_On_Gantt</elementReference>
            </defaultValue>
            <fieldText>Automatically Update Scheduled Start and Scheduled End Fields</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Automatically update the Scheduled Start/End time fields which represent the start and end time of the Service Appointment on the Gantt Chart in the Dispatcher Console.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Starting_Statuses</name>
            <extensionName>c:FSK_AppointmentStatusCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupLabel</name>
                <value>
                    <stringValue>Select Starting Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Select_Starting_Statuses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Starting_Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludeCategories</name>
                <value>
                    <stringValue>Canceled,None,Completed,CannotComplete</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserStartingStatusSelection</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Capture_Actual_Times</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reflect_Actual_Times_on_the_Gantt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Ending_Statuses</name>
            <extensionName>c:FSK_AppointmentStatusCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>groupLabel</name>
                <value>
                    <stringValue>Select Ending Statuses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <stringValue>Select_Ending_Statuses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>excludeCategories</name>
                <value>
                    <stringValue>Canceled,None,Scheduled,Dispatched,InProgress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Ending_Status</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserEndingStatusSelection</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Capture_Actual_Times</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reflect_Actual_Times_on_the_Gantt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>1816</locationX>
        <locationY>23</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Great, we set it all for you!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>65</locationX>
        <locationY>1</locationY>
        <connector>
            <targetReference>Get_Custom_Settings_Values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CustomSettingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ending_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Actual_Times</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Actual_Times_On_Gantt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Display_Assigned_Resource_On_Service_Appointment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Set_FSL_User_Permissions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Set_Gantt_Label</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Set_Work_Order_Lookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Starting_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEndingStatusSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStartingStatusSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
