force-app/main/default/flows/FSK_Canned_Notification_Dispatched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dispatched_Notification</name>
        <label>Dispatched Notification</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Dispatched_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Dispatched_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Emergency_Notification</name>
        <label>Emergency Notification</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Emergency_Dispatched_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Emergency_Dispatched_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Recepients</name>
        <label>Set Notification Variables and Add Recepients</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Recepients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recipient_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dispatched_Notification_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchedNotificationTitleMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dispatched_Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchedNotificationBodyMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Dispatched_Notification_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyNotificationTitleMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Dispatched_Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyNotificationBodyMergedFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Dispatched_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Dispatched_Type</name>
        <label>Check if Emergency Dispatch</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Dispatched_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Emergency</defaultConnectorLabel>
        <rules>
            <name>Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmergency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Notification</targetReference>
            </connector>
            <label>Emergency</label>
        </rules>
    </decisions>
    <description>When the Service Appointment status changes to a value that maps to the Dispatched Status Category, a custom notification is sent.  An alternative notification will be sent for an emergency.
This flow template is part of the Field Service Starter Kit Package and is triggered by a Field Service Starter Kit process.</description>
    <formulas>
        <name>DispatchedNotificationBodyMergedFields</name>
        <dataType>String</dataType>
        <expression>{!Service_Appointment_Number} &amp; &apos; has been assigned to you&apos;</expression>
    </formulas>
    <formulas>
        <name>DispatchedNotificationTitleMergedFields</name>
        <dataType>String</dataType>
        <expression>{!Service_Resource_Name}</expression>
    </formulas>
    <formulas>
        <name>EmergencyNotificationBodyMergedFields</name>
        <dataType>String</dataType>
        <expression>&apos;Attend to &apos; &amp; {!Service_Appointment_Number} &amp; &apos; ASAP&apos;</expression>
    </formulas>
    <formulas>
        <name>EmergencyNotificationTitleMergedFields</name>
        <dataType>String</dataType>
        <expression>&apos;* Emergency! *   Attention: &apos; &amp; {!Service_Appointment_Subject}</expression>
    </formulas>
    <interviewLabel>Canned Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Dispatch Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>Service_Resource_Id</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recepients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Resource_Id</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>Service_Resource_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Recipient_Id</assignToReference>
            <field>RelatedRecordId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Limited to 750 characters</description>
        <name>Dispatched_Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dispatched Notification Body</stringValue>
        </value>
    </variables>
    <variables>
        <description>Limited to 250 characters</description>
        <name>Dispatched_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dispatched Notification Title </stringValue>
        </value>
    </variables>
    <variables>
        <description>Limited to 750 characters</description>
        <name>Emergency_Dispatched_Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Run for your life</stringValue>
        </value>
    </variables>
    <variables>
        <description>Limited to 250 characters</description>
        <name>Emergency_Dispatched_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Leave Everything!!!</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsEmergency</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Resource_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Resource_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
