force-app/main/default/flows/FSK_Resource_Deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Licenses_Assignment_Exists</name>
        <label>Check if Licenses Assignment Exists</label>
        <locationX>1319</locationX>
        <locationY>173</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Licenses_Assigned_to_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_License_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Licenses_Assignment</targetReference>
            </connector>
            <label>Licenses Assigned to Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IF_Records_exists</name>
        <label>Check IF Records exists</label>
        <locationX>651</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_Set_Assignments</targetReference>
            </connector>
            <label>Records Exists</label>
        </rules>
    </decisions>
    <description>This flow is part of the Field Service Starter Kit.
This Flow Remove Any Resource Permission Set and Permission Set Licence</description>
    <interviewLabel>FSK Resource Deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Resource Deactivation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Licenses_Assignment</name>
        <label>Delete Licenses Assignment</label>
        <locationX>1591</locationX>
        <locationY>166</locationY>
        <inputReference>Get_Permission_Set_License_Assignments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Permission_Set_Assignments</name>
        <label>Delete Permission Set Assignments</label>
        <locationX>895</locationX>
        <locationY>173</locationY>
        <connector>
            <targetReference>Get_Permission_Set_License_Assignments</targetReference>
        </connector>
        <inputReference>Get_Permission_Set_Assignments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>501</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_IF_Records_exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5) OR (1 AND 5) OR (1 AND 6)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Mobile_License_Permission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Dispatcher_License_Permission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Dispatcher_Permissions_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Resource_License_Permission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Resource_Permissions_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_License_Assignments</name>
        <label>Get Permission Set License Assignments</label>
        <locationX>1155</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Licenses_Assignment_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Scheduling_PSL_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Dispatcher_PSL_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.FSK_FSL_Starter_Kit__c.Mobile_PSL_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>53</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Related_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
