force-app/main/default/flows/FSK_Populate_Custom_Work_Order_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_WO_Lookup</name>
        <label>Set WO Lookup</label>
        <locationX>292</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>SA_to_Update.FSK_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_The_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLI_Lookup</name>
        <label>Set WOLI Lookup</label>
        <locationX>625</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>SA_to_Update.FSK_Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_The_Lookup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_Type</name>
        <label>Check Parent Type</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_Parent_is_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_is_WO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Should_Populate_WO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_Lookup</targetReference>
            </connector>
            <label>The Parent is WO</label>
        </rules>
        <rules>
            <name>The_Parent_is_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_is_WO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Should_Populate_WOLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WOLI_Lookup</targetReference>
            </connector>
            <label>The Parent is WOLI</label>
        </rules>
    </decisions>
    <description>This flow populates the Field Service Starter Kit&apos;s custom Work Order field with the appointment parent ID.
This flow template is part of the Field Service Starter Kit Package and is triggered by a Field Service Starter Kit process.</description>
    <interviewLabel>Populate Custom Work Order Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSSK Populate Custom Work Order Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_The_Lookup</name>
        <label>Populate The Lookup</label>
        <locationX>616</locationX>
        <locationY>671</locationY>
        <inputReference>SA_to_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Parent_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Parent_is_WO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable stores the service appointment ID</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Should_Populate_WO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Should_Populate_WOLI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
