force-app/main/default/flows/Maintenance_Plan_from_Service_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Variables_to_Collections</name>
        <label>Add Variables to Collections</label>
        <locationX>2027</locationX>
        <locationY>1773</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Asset_Collection_to_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Maintenance_Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Line_Items_Collection_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Contact_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Selected_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Variables_to_Collections_0</name>
        <label>Add Variables to Collections</label>
        <locationX>1123</locationX>
        <locationY>2356</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Asset_Collection_to_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Maintenance_Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Line_Items_Collection_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Contact_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_All_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Variables</name>
        <label>Set Record Variables</label>
        <locationX>1816</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Asset.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Selected_Line_Items.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Asset.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Plan_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Asset.ContractLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Selected_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Contact_Line_Item.Part_of_Maintenance_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Contact_Line_Item.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Selected_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Variables_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Variables_0</name>
        <label>Set Record Variables</label>
        <locationX>1124</locationX>
        <locationY>2203</locationY>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Asset.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_All_Line_Items.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Asset.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Plan_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Asset.ContractLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_All_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Contact_Line_Item.Part_of_Maintenance_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Contact_Line_Item.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_All_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Variables_to_Collections_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Selection_in_a_Variables</name>
        <label>Set User Selection in a Variables</label>
        <locationX>1126</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>VAR_Service_Contract_Line_Item_Ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Flag_All_Line_Items</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USER_SELECT_ALL_LINE_ITEMS_OR_NOT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Plan_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pick_MP.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Plan_Or_Add_Items_to_an_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Selection_on_a_Variable</name>
        <label>Set User Selection on a Variable</label>
        <locationX>791</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.DoesAutoGenerateWorkOrders</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Auto_generate_work_orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.DoesGenerateUponCompletion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Generate_new_batch_upon_completion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.FrequencyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Frequency_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.GenerationHorizon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Generation_Horizon_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.GenerationTimeframe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Generation_Timeframe</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.GenerationTimeframeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Generation_Timeframe_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.MaintenancePlanTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Maintenance_Plan_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.MaintenanceWindowEndDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Maintenance_Window_End_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.MaintenanceWindowStartDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Maintenance_Window_Start_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Date_of_the_first_work_order_in_the_next_batch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.SvcApptGenerationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Service_Appointment_Generation_Method_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.WorkOrderGenerationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Work_Order_Generation_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Maintenance_Plan_Record.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Work_Type.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Maintenance_Plan</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_All_Contract_Line_Items</name>
        <choiceText>Add all contact line items to a maintenance plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>all</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Create_New_MP</name>
        <choiceText>Create new maintenance plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New_MP</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Existing_MP</name>
        <choiceText>Add to an existing maintenance plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing_MP</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Select_Specific_Contract_Line_Items</name>
        <choiceText>Select specific contract line items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>specific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Order_Generation_Method</name>
        <choiceText>Work Order Generation Method</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>All_Line_Items_Or_Specific_Selection</name>
        <label>All Line Items Or Specific Selection</label>
        <locationX>1115</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Set_All_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spesific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Flag_All_Line_Items</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Line_Items</targetReference>
            </connector>
            <label>Specific</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_Contract_Line_Items</name>
        <label>Check if there are Contract Line Items</label>
        <locationX>1117</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Line_Items_Not_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Line_Items_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Contract</targetReference>
            </connector>
            <label>Contract Line Items exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Item_Selected</name>
        <label>Check Item Selected</label>
        <locationX>1575</locationX>
        <locationY>1785</locationY>
        <defaultConnector>
            <targetReference>Set_Selected_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Service_Contract_Line_Item_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Set_Selected_Line_Items.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Variables</targetReference>
            </connector>
            <label>Item Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Maintenance_Plan_Or_Add_Items_to_an_Existing</name>
        <label>Create Maintenance Plan Or Add Items to an Existing</label>
        <locationX>1115</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Maintenance_Plan_Record_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Maintenance_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Plan_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maintenance_Plan_Attributes</targetReference>
            </connector>
            <label>Create Maintenance Plan</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Ch_Service_Contract_Line_Items</name>
        <dataType>String</dataType>
        <displayField>Line_Item_Details__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Part_of_Maintenance_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ContractLineItem</object>
        <outputAssignments>
            <assignToReference>VAR_Service_Contract_Line_Item_Ids</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Line_Item_Details__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Frequency_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FrequencyType</picklistField>
        <picklistObject>MaintenancePlan</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Generation_Timeframe_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GenerationTimeframeType</picklistField>
        <picklistObject>MaintenancePlan</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MP_Service_Appointment_Generation_Method</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SvcApptGenerationMethod</picklistField>
        <picklistObject>MaintenancePlan</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MP_Work_Order_Generation_Method_T</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WorkOrderGenerationMethod</picklistField>
        <picklistObject>MaintenancePlan</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Default_Start_Date</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Service_Contract.StartDate}), TODAY(), {!Get_Service_Contract.StartDate})</expression>
    </formulas>
    <formulas>
        <name>USER_SELECT_ALL_LINE_ITEMS_OR_NOT</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Line_Items_to_Add} = &apos;all&apos;, true, false)</expression>
    </formulas>
    <interviewLabel>Maintenance Plan from Service Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Maintenance Plan from Service Contract</label>
    <loops>
        <name>Set_All_Line_Items</name>
        <label>Set All Line Items</label>
        <locationX>1119</locationX>
        <locationY>2027</locationY>
        <collectionReference>Get_All_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Record_Variables_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maintenance_Asset_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Selected_Line_Items</name>
        <label>Set Selected Line Items</label>
        <locationX>1317</locationX>
        <locationY>1792</locationY>
        <collectionReference>Get_All_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Item_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maintenance_Asset_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Maintenance_Asset_Records</name>
        <label>Create Maintenance Asset Records</label>
        <locationX>557</locationX>
        <locationY>2084</locationY>
        <connector>
            <targetReference>Mark_Contract_Line_Items_as_Part_of_Maintenance_Plan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Maintenance_Asset_Collection_to_Insert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Maintenance_Plan</name>
        <label>Create New Maintenance Plan</label>
        <locationX>797</locationX>
        <locationY>1447</locationY>
        <assignRecordIdToReference>Maintenance_Plan_Id</assignRecordIdToReference>
        <connector>
            <targetReference>All_Line_Items_Or_Specific_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesAutoGenerateWorkOrders</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.DoesAutoGenerateWorkOrders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesGenerateUponCompletion</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.DoesGenerateUponCompletion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FrequencyType</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.FrequencyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerationHorizon</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.GenerationHorizon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerationTimeframe</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.GenerationTimeframe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerationTimeframeType</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.GenerationTimeframeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanTitle</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.MaintenancePlanTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenanceWindowEndDays</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.MaintenanceWindowEndDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenanceWindowStartDays</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.MaintenanceWindowStartDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.NextSuggestedMaintenanceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SvcApptGenerationMethod</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.SvcApptGenerationMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderGenerationMethod</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.WorkOrderGenerationMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Temp_Maintenance_Plan_Record.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenancePlan</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Line_Items</name>
        <label>Get All Line Items</label>
        <locationX>1113</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_Contract_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Part_of_Maintenance_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Maintenance_Plan_Record_Values</name>
        <label>Get Existing Maintenance Plan Record Values</label>
        <locationX>1119</locationX>
        <locationY>1461</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Line_Items_Or_Specific_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Maintenance_Plan_Id</elementReference>
            </value>
        </filters>
        <object>MaintenancePlan</object>
        <outputReference>Temp_Maintenance_Plan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>DoesAutoGenerateWorkOrders</queriedFields>
        <queriedFields>DoesGenerateUponCompletion</queriedFields>
        <queriedFields>Frequency</queriedFields>
        <queriedFields>FrequencyType</queriedFields>
        <queriedFields>GenerationHorizon</queriedFields>
        <queriedFields>GenerationTimeframeType</queriedFields>
        <queriedFields>GenerationTimeframe</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>MaintenancePlanNumber</queriedFields>
        <queriedFields>MaintenancePlanTitle</queriedFields>
        <queriedFields>MaintenanceWindowEndDays</queriedFields>
        <queriedFields>WorkOrderGenerationMethod</queriedFields>
        <queriedFields>NextSuggestedMaintenanceDate</queriedFields>
        <queriedFields>MaintenanceWindowStartDays</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>SvcApptGenerationMethod</queriedFields>
        <queriedFields>WorkOrderGenerationStatus</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>1127</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Contract_Line_Items_as_Part_of_Maintenance_Plan</name>
        <label>Mark Contract Line Items as Part of Maintenance Plan</label>
        <locationX>335</locationX>
        <locationY>2052</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Contract_Line_Items_Collection_To_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>624</locationX>
        <locationY>1435</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Oops... Looks like something wend wrong&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Line_Items_Not_Exists</name>
        <label>Line Items Not Exists</label>
        <locationX>1471</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Line_Items_Not_Exists_Text_Message</name>
            <fieldText>&lt;p&gt;It seems like there are no contract line items related to this contract record, or none of the related contract line items assign with an asset, or the contract line items are part of a maintenance plan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>1125</locationX>
        <locationY>812</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_Selection_in_a_Variables</targetReference>
        </connector>
        <fields>
            <name>Which_Maintenance_Plan</name>
            <choiceReferences>ch_Create_New_MP</choiceReferences>
            <choiceReferences>ch_Existing_MP</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ch_Create_New_MP</defaultSelectedChoiceReference>
            <fieldText>Which Maintenance Plan</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pick_MP</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MaintenancePlanId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Existing Maintenance Plan </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Which_Maintenance_Plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_Existing_MP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_Items_to_Add</name>
            <choiceReferences>ch_All_Contract_Line_Items</choiceReferences>
            <choiceReferences>ch_Select_Specific_Contract_Line_Items</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ch_All_Contract_Line_Items</defaultSelectedChoiceReference>
            <fieldText>Line Items to Add</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Line_Items</name>
            <choiceReferences>Ch_Service_Contract_Line_Items</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Line Items</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Line_Items_to_Add</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>specific</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Maintenance_Plan_Attributes</name>
        <label>Maintenance Plan Attributes</label>
        <locationX>867</locationX>
        <locationY>1056</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_Selection_on_a_Variable</targetReference>
        </connector>
        <fields>
            <name>Description_Title</name>
            <fieldText>&lt;h3&gt;&lt;span style=&quot;background-color: rgb(243, 242, 242); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Description&lt;/span&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MP_Maintenance_Plan_Title</name>
            <dataType>String</dataType>
            <fieldText>Maintenance Plan Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MP_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>General_Information_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(243, 242, 242);&quot;&gt;General Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ServiceContract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Service_Contract.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MP_Work_Type</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>WorkTypeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Work Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ServiceAppointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Maintenance_Plan_Attributes_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MP_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Default_Start_Date</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MP_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Service_Contract.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Work_Order_Generation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(243, 242, 242);&quot;&gt;Work Order Generation&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MP_Work_Order_Generation_Method</name>
                    <choiceReferences>MP_Work_Order_Generation_Method_T</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>WorkOrderPerAsset</stringValue>
                    </defaultValue>
                    <fieldText>Work Order Generation Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>MP_Frequency</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Frequency</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>MP_Frequency_Type</name>
                    <choiceReferences>Frequency_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Months</stringValue>
                    </defaultValue>
                    <fieldText>Frequency Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MP_Maintenance_Window_Start_Days</name>
                    <dataType>Number</dataType>
                    <fieldText>Maintenance Window Start (Days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>MP_Maintenance_Window_End_Days</name>
                    <dataType>Number</dataType>
                    <fieldText>Maintenance Window End (Days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Maintenance_Plan_Attributes_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MP_Service_Appointment_Generation_Method_0</name>
                    <choiceReferences>MP_Service_Appointment_Generation_Method</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Service Appointment Generation Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>MP_Generation_Timeframe</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>2.0</numberValue>
                    </defaultValue>
                    <fieldText>Generation Timeframe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>MP_Generation_Timeframe_Type</name>
                    <choiceReferences>Generation_Timeframe_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Months</stringValue>
                    </defaultValue>
                    <fieldText>Generation Timeframe Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MP_Date_of_the_first_work_order_in_the_next_batch</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Default_Start_Date</elementReference>
                    </defaultValue>
                    <fieldText>Date of the first work order in the next batch</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Automation_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(243, 242, 242);&quot;&gt;Automation&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MP_Auto_generate_work_orders</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Auto-generate work orders</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MP_Generation_Horizon_Days</name>
                    <dataType>Number</dataType>
                    <fieldText>Generation Horizon (Days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Maintenance_Plan_Attributes_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MP_Generate_new_batch_upon_completion</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Generate new batch upon completion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Maintenance_Plan_Attributes_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Maintenance_Plan_Attributes_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1001</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract_Line_Items_Collection_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <description>Stores the collection of the contract line item to the household</description>
        <name>CVAR_Contract_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>Maintenance_Asset_Collection_to_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>Maintenance_Plan_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Contract_Line_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>Temp_Contact_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>Temp_Maintenance_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>Temp_Maintenance_Plan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>VAR_Flag_All_Line_Items</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Service_Contract_Line_Item_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
